* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62, 5%;
}

html {
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  background: rgb(31, 68, 77);
  background: radial-gradient(
    circle,
    rgba(31, 68, 77, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  transition: background-color 0.5s, color 0.5s;
}

#container {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;

  padding: 2rem 2rem;
  animation: AppearInTop 1s ease-out forwards;
}

.headerfirst {
  margin-top: 15rem;
  margin-bottom: 5rem;
}
.headerfirst h1 {
  font-size: 2.8rem;
  text-align: center;
}

.headerfirst p {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 1rem;

  font-weight: 400;
  text-align: center;
  color: #adadad;
}

#switch {
  position: relative;
  width: 6.4rem;
}

#switch button {
  width: 1.8rem;
  height: 1.8rem;
  background: white no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.2s;
}

#switch button img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.light #switch #themeToggle {
  animation: slide-in 0.2s forwards;
}

#themeToggle:hover {
  outline: 0.1rem solid rgb(50, 158, 119);
  transition: 0.4s;
}

#switch span {
  display: block;
  width: 5rem;
  height: 2rem;
  background: rgba(31, 68, 77, 0.403);
  border: 0.1rem solid rgba(50, 158, 118, 0.527);
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  border-radius: 9999px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  list-style: none;
  text-decoration: none;
  color: #161616be;
  font-size: 1.2rem;
  animation: AppearInTop 3s ease-out forwards;
}

.nav-list a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 100;
}

.nav-list li {
  letter-spacing: 0.1rem;
  margin-left: 0.5rem;
  font-family: "Satisfy", cursive;
  font-size: 1.3rem;
  text-align: center;
}

.nav-list a:hover {
  cursor: pointer;
  color: rgb(50, 158, 119);
  transition: 0.3s;
}

.imagelogomobile img {
  width: 18rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  border: 0.4rem solid #00000093;
  filter: drop-shadow(0.1rem 0.1rem 5rem rgb(57, 176, 205));
}

main {
  margin-top: 10rem;
  padding: 1.2rem 1rem;
  animation: AppearInTop 3s ease-out forwards;
}

main h1 {
  color: rgb(82, 78, 78);
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-weight: 300;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  gap: 1rem;
  margin-bottom: 8rem;
  animation: AppearInTop 2s ease-out forwards;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0.8rem;

  color: rgb(255, 255, 255);
  margin-top: 2rem;
  background: rgb(6, 52, 63);
  border-radius: 1rem;
}

.social-links a:hover {
  background-color: rgba(95, 158, 160, 0.596);
  border: 2px solid rgb(9, 229, 249);
  border-radius: 4rem;
  transition: 1s;
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact h1 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  animation: AppearInTop 2s ease-out forwards;
}

.contact p {
  color: gray;
  font-size: 1.2rem;
  animation: AppearInTop 2.5s ease-out forwards;
}

.email-container {
  display: inline;
  animation: AppearInTop 2s ease-out forwards;
}

.email-btn {
  background: rgb(70, 70, 70);
  margin-top: 2rem;
  padding: 1rem 1rem;
  border-radius: 1rem;

  border: 2px solid rgb(11, 87, 106); /*borda azul*/
  cursor: pointer;
  width: 19rem;
}

.email-btn a {
  display: block;
  color: White;
  text-decoration: none;
  font-size: 1.2rem;
  width: 17rem;
  animation: AppearInTop 2s ease-out forwards;
}

.email-btn:hover {
  background-color: cadetblue;
  transition: 0.8s;
  border: 2px solid rgb(49, 155, 181);
}
.contact-container {
  display: inline;
  animation: AppearInTop 2s ease-out forwards;
}

.contact-btn {
  background: rgb(70, 70, 70);
  margin-top: 2rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
  border: 2px solid rgb(11, 87, 106); /*borda azul*/
  width: 19rem;
  cursor: pointer;
}
.contact-btn a {
  display: block;
  color: White;
  text-decoration: none;
  font-size: 1.2rem;
  width: 17rem;
  animation: AppearInTop 2s ease-out forwards;
}

.contact-btn:hover {
  background-color: cadetblue;
  transition: 0.8s;
  border: 2px solid rgb(49, 155, 181);
}

.curriculo-container {
  display: inline;
  animation: AppearInTop 2s ease-out forwards;
}

.curriculo-btn {
  background: rgb(70, 70, 70);
  margin-top: 2rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
  border: 2px solid rgb(11, 87, 106); /*borda azul*/
  width: 19rem;
  cursor: pointer;
}

.curriculo-btn a {
  display: block;
  color: White;
  text-decoration: none;
  font-size: 1.2rem;
  width: 18rem;
  animation: AppearInTop 2s ease-out forwards;
}

.curriculo-btn:hover {
  background-color: cadetblue;
  transition: 0.8s;
  border: 2px solid rgb(49, 155, 181);
}

#about-me {
  border-radius: 2rem;
  margin-top: 8rem;
  margin: auto;

  margin-bottom: 5rem;
  height: 100%;
  text-align: center;
  padding: 2rem 2rem;
}

#about-me h2 {
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
  font-weight: 600;
  font-family: "Satisfy", cursive;
}

#about-me p {
  margin-top: 1.5rem;
  color: #38373b;
  margin: 0.5rem;

  font-size: 1.2rem;
  font-weight: 500;
  text-align: justify;

  color: rgb(216, 216, 216);
  font-family: "Satisfy", cursive;
  margin-bottom: 1.5rem;
}

.imagelogodesktop img {
  width: 18rem;
  height: 25rem;
  object-fit: cover;

  border-radius: 50%;
  overflow: hidden;
  border: 0.4rem solid #00000093;
  margin-bottom: 3rem;
  filter: drop-shadow(0.1rem 0.1rem 3rem rgb(57, 176, 205));
}

.description {
  text-align: justify;
  line-height: 1.6;
}

.botao-container {
  display: inline-block;
}

.botao-link {
  padding: 1rem 2rem;
  margin-top: 0.2rem;
  background-color: rgb(70, 70, 70);
  border-radius: 10rem;
  border: 2px solid rgb(48, 47, 47);
}

.botao-link {
  font-size: 1.3rem;
  text-decoration: none;
  color: rgb(222, 219, 219);
  font-weight: 900;
  font-family: "Satisfy", cursive;
}

.botao-link:hover {
  background-color: cadetblue;
  transition: 0.5s;
  cursor: pointer;
  border: 2px solid rgb(40, 124, 146);
}

.techs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  justify-content: space-between;
  margin-bottom: 20rem;
  margin-top: 15rem;
}

.titletechs h4 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;

  font-weight: 100;
  margin-bottom: 2rem;
  text-align: center;
}

.techbox1 {
  padding: 1.2rem 4rem;
  margin-bottom: 2rem;

  text-align: center;
  background-color: rgb(28, 79, 92);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.techbox2 {
  padding: 1.2rem 4rem;
  margin-bottom: 2rem;

  text-align: center;
  background-color: rgb(28, 79, 92);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.techbox3 {
  padding: 1.2rem 4rem;
  margin-bottom: 2rem;

  text-align: center;
  background-color: rgb(28, 79, 92);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.techbox4 {
  padding: 1.2rem 4rem;
  margin-bottom: 2rem;

  text-align: center;
  background-color: rgb(28, 79, 92);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.techbox5 {
  padding: 1.2rem 4rem;
  margin-bottom: 2rem;

  text-align: center;
  background-color: rgb(28, 79, 92);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.techbox6 {
  padding: 1.2rem 4rem;
  margin-bottom: 2rem;

  text-align: center;
  background-color: rgb(28, 79, 92);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.techbox7 {
  padding: 1.2rem 4rem;
  margin-bottom: 2rem;

  text-align: center;
  background-color: rgb(28, 79, 92);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.titulo-projetos h1 {
  margin-bottom: 0.5rem;
  color: rgb(255, 255, 255);
  font-weight: 100;
}

#projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 6rem;

  padding: 4rem;
  margin: auto;
  margin-bottom: 20rem;
  font-family: "Satisfy", cursive;
}

/* BOX PROJETO 1 */
.box-project1 {
  padding: 1rem 3.2rem;
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: rgb(28, 79, 92);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box-project1 h4 {
  color: rgb(255, 255, 255);
  font-weight: 200;
  font-size: 1.4rem;
  text-align: center;
}

.box-project1 p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #adadad;
}

.box-content1 img {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 1.2rem;
  object-fit: cover;
}

.box-project1:hover {
  transition: 0.8s;
  cursor: pointer;
  background-color: rgb(105, 147, 149);
}

/* BOX PROJETO 2 */
.box-project2 {
  padding: 1rem 3.2rem;
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: rgb(28, 79, 92);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box-project2 h4 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 200;
  font-size: 1.4rem;
}

.box-project2 p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #adadad;
}

.box-content2 img {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 1.2rem;
}

.box-project2:hover {
  transition: 0.8s;
  cursor: pointer;
  background-color: rgb(105, 147, 149);
}

/*BOX PROJETO 3 */
.box-project3 {
  /* border: 1px solid red; */
  padding: 1rem 3.2rem;
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: rgb(28, 79, 92);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box-project3 h4 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 200;
  font-size: 1.4rem;
}

.box-project3 p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #adadad;
  margin-top: 1rem;
}

.box-project3 img {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 1.2rem;
}

.box-project3:hover {
  transition: 0.8s;
  cursor: pointer;
  background-color: rgb(105, 147, 149);
}

/*BOX PROJETO 4*/
.box-project4 {
  padding: 1rem 3.2rem;
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: rgb(28, 79, 92);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box-project4 h4 {
  color: rgb(255, 255, 255);
  font-weight: 200;
  font-size: 1.4rem;
  text-align: center;
}

.box-project4 p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #adadad;
}

.box-content4 img {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 1.2rem;
}

.box-project4:hover {
  transition: 0.8s;
  cursor: pointer;
  background-color: rgb(105, 147, 149);
}

.imagelogomobile {
  display: none;
}

footer {
  text-align: center;
  font-size: 1.4rem;
  color: white;

  margin-bottom: 2rem;
  margin-top: 0.1rem;
  animation: AppearInTop 3s ease-out forwards;
}

.socialLinks-logo {
  display: none;
}

@media (min-width: 1440px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30rem;
    animation: AppearInTop 3s ease-out forwards;
    opacity: 0;
    margin-top: 10rem;
    margin-bottom: 30rem;
  }

  #about-me {
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    padding: 8rem;
    animation: AppearInTop 1s ease-out forwards;
  }

  .about-me .box-button {
    animation: AppearInTop 1s ease-out forwards;
  }

  .imagelogomobile {
    display: block;
    animation: slideIn 3s forwards;
  }

  .techboxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    gap: 2rem;
    animation: AppearInTop 3s ease-out forwards;
  }

  .techs {
    text-align: center;
    animation: AppearInTop 3s ease-out forwards;
  }

  .titletechs {
    text-align: center;
    font-size: 1.6rem;
    animation: AppearInTop 3s ease-out forwards;
  }

  .techbox1 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: AppearInTop 1s ease-out forwards;
  }
  .techbox2 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: AppearInTop 2s ease-out forwards;
  }
  .techbox3 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: AppearInTop 3s ease-out forwards;
  }
  .techbox4 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: AppearInTop 4s ease-out forwards;
  }
  .techbox5 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: AppearInTop 5s ease-out forwards;
  }
  .techbox6 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: AppearInTop 6s ease-out forwards;
  }

  /*INICIO DO GRID NAS BOXES PROJECT*/
  .titulo-projetos {
    text-align: center;
    font-size: 1.6rem;
    animation: AppearInTop 3s ease-out forwards;
  }

  #projetos {
    display: grid;
    grid-template-columns: repeat(2, 1fr 1fr);
    padding: 5rem 20rem;
    animation: AppearInTop 2.2s ease-out forwards;
  }

  .box-project1 {
    animation: AppearInTop 0.2s ease-out forwards;
  }

  .box-project1:hover {
    transition: 0.8s;
    cursor: pointer;
    background-color: rgb(105, 147, 149);
  }

  .box-project2 {
    animation: AppearInTop 1.2s ease-out forwards;
  }

  .box-project2:hover {
    transition: 0.8s;
    cursor: pointer;
    background-color: rgb(105, 147, 149);
  }

  .box-project3 {
    animation: AppearInTop 2.2s ease-out forwards;
  }

  .box-project3:hover {
    transition: 0.8s;
    cursor: pointer;
    background-color: rgb(105, 147, 149);
  }

  .box-project4 {
    animation: AppearInTop 3.2s ease-out forwards;
  }

  .box-project4:hover {
    transition: 0.8s;
    cursor: pointer;
    background-color: rgb(105, 147, 149);
  }

  .socialLinks-logo {
    display: block;
  }

  .socialLinks-logo img {
    width: 18rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    border: 0.4rem solid #00000093;

    margin-left: 4rem;
    animation: AppearInTop 3.2s ease-out forwards;
    filter: drop-shadow(0.1rem 0.1rem 5rem rgb(57, 176, 205));
  }

  #section-contact {
    display: flex;
    flex-direction: row;
    margin-left: 11rem;
    gap: 45rem;
  }
}

@keyframes AppearInTop {
  /*Animations*/
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}

@keyframes fadeOutIn {
  0%,
  20%,
  100% {
    opacity: 1;
  }
  40%,
  80% {
    opacity: 0;
  }
}
